# ðŸŽ¬ Movie Recommendation System

**Objective:**  
Build a recommendation engine using collaborative filtering to suggest movies to users based on their preferences.

**Techniques Used:**  
- Cosine Similarity  
- User-Based Collaborative Filtering  
- Streamlit (optional app)

In [4]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

## ðŸ“‚ Step 1: Load Dataset

We load user-movie ratings from a CSV file.

In [15]:
df = pd.read_csv(r"C:\Users\user\Downloads\movie_ratings_sample.csv")
df

    userId                     movie  rating
0        1  The Shawshank Redemption       5
1        1             The Godfather       4
2        1           The Dark Knight       5
3        1              Pulp Fiction       3
4        2              Forrest Gump       4
5        2                 Inception       5
6        2                Fight Club       4
7        2              Interstellar       5
8        3                The Matrix       4
9        3                Goodfellas       5
10       3                  Parasite       4
11       3        The Social Network       3
12       4                  Whiplash       5
13       4                La La Land       4
14       4            13 going on 30       4
15       4                     Joker       5
16       5         Avengers: Endgame       5
17       5   Spider-Man: No Way Home       4
18       5                The Batman       3
19       5                      Dune       4
20       6                     Tenet       3
21       6               Oppenheimer       5
22       6                    Barbie       4
23       6                       RRR       4
24       7                  3 Idiots       5
25       7  Zindagi Na Milegi Dobara       4
26       7                       KGF       3
27       7                  Drishyam       5
28       8                        PK       4
29       8                   Pathaan       4
30       8  The Shawshank Redemption       5
31       8                 Inception       5
32       9                The Matrix       4
33       9                       KGF       4
34       9               Oppenheimer       5
35       9                       RRR       3
36      10                La La Land       5
37      10                  Parasite       4
38      10                     Joker       4
39      10                  Drishyam       5

## ðŸ”§ Step 2: Create the User-Movie Matrix
We create a pivot table where rows = users, columns = movies, and values = ratings.

In [17]:
pivot_table = df.pivot_table(index='userId', columns='movie', values='rating').fillna(0)
pivot_table.head()

movie,13 going on 30,3 Idiots,Avengers: Endgame,Barbie,Drishyam,Dune,Fight Club,Forrest Gump,Goodfellas,Inception,...,Spider-Man: No Way Home,Tenet,The Batman,The Dark Knight,The Godfather,The Matrix,The Shawshank Redemption,The Social Network,Whiplash,Zindagi Na Milegi Dobara
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,4.0,0.0,5.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
5,0.0,0.0,5.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## ðŸ“Š Step 3: Compute Cosine Similarity Between Users

In [19]:
similarity = cosine_similarity(pivot_table)
similarity_df = pd.DataFrame(similarity, index=pivot_table.index, columns=pivot_table.index)
similarity_df

userId,1,2,3,4,5,6,7,8,9,10
userId,,,,,,,,,,
1,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.318788,0.000000,0.000000
2,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.304878,0.000000,0.000000
3,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.242424,0.217491
4,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.487805
5,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.560606,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.170561,0.318788
8,0.318788,0.304878,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000
9,0.000000,0.000000,0.242424,0.000000,0.0,0.560606,0.170561,0.000000,1.000000,0.000000
10,0.000000,0.000000,0.217491,0.487805,0.0,0.000000,0.318788,0.000000,0.000000,1.000000

## ðŸ§  Step 4: Define Recommendation Function

In [23]:
def get_recommendations(user_id, pivot, sim_df, top_n=5):
    if user_id not in pivot.index:
        return ["User not found"]

    similar_users = sim_df[user_id].sort_values(ascending=False)[1:]
    recommendations = {}

    for other_user, sim_score in similar_users.items():
        for movie in pivot.columns:
            if pivot.loc[user_id, movie] == 0 and pivot.loc[other_user, movie] > 0:
                if movie not in recommendations:
                    recommendations[movie] = sim_score * pivot.loc[other_user, movie]
                else:
                    recommendations[movie] += sim_score * pivot.loc[other_user, movie]

    sorted_recs = sorted(recommendations.items(), key=lambda x: x[1], reverse=True)
    return [movie for movie, _ in sorted_recs][:top_n]

## ðŸš€ Step 5: Get Recommendations for Any User

In [25]:
user_id = 3  # Try different values like 1 to 10
recs = get_recommendations(user_id, pivot_table, similarity_df)
print(f"Recommended movies for User {user_id}:")
for movie in recs:
    print("ðŸŽ¬", movie)

Recommended movies for User 3:
ðŸŽ¬ Oppenheimer
ðŸŽ¬ Drishyam
ðŸŽ¬ La La Land
ðŸŽ¬ KGF
ðŸŽ¬ Joker

## âœ… Summary

This system uses user-based collaborative filtering and cosine similarity to suggest movies.  
It can be enhanced using larger datasets (like MovieLens), matrix factorization, or neural networks.